<div>
    <app-widget-area></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <mat-card-content>
            <app-widget-card label="Workout" total="4 hrs" percentage="60"></app-widget-card>

        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-content>
            <app-widget-card label="Calories" total="1800 kcl" percentage="40"></app-widget-card>

        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-content>
            <app-widget-card label="Steps" total="8k" percentage="40"></app-widget-card>

        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-content>
            <app-widget-card label="Activities" total="2 hrs" percentage="20"></app-widget-card>

        </mat-card-content>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>