<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Welcome</h2>
            <h4>Deepali Singh</h4>
        </div>
        <img src="/assets/images/user.jpeg" alt="Deepali Singh">
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>assessment</mat-icon> Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/workout">
        <mat-icon>fitness_center</mat-icon>Workout</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>fastfood</mat-icon>Diet Plan</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>whatshot</mat-icon>Goals</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>calendar_today</mat-icon>My Schedule</a>

</mat-nav-list>